{% extends 'base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3 id="user-name">{{ user.username }}'s Account</h3>
            <ul class="nav navbar-nav">
                <li class="{% block update_songs %}{% endblock %}"><a href="{% url 'music:update_songs' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Refresh Songs</a></li>
            </ul>
        </div>
    </div>

    <!-- If user searches and there are songs -->
    {% if songs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Path</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.song_name }}</td>
                                        <td><a href={{ song.audio_file.url }}>Link</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}
